fastapi==0.109.0
uvicorn==0.27.0
mediapipe==0.10.9
opencv-python==4.9.0.80
numpy==1.26.3
python-multipart==0.0.6
loguru==0.7.2
pydantic==2.5.3
pydantic-settings==2.1.0
torch==2.1.2
torchvision==0.16.2
onnxruntime==1.16.3
